img{
    width: 90%;
    height: 400px;
}
#Alpha {
    text-align: center;
    max-width: 500px;
}
.column {
    float: left;
    padding: 10px;
  }
  
.left, .right {
    width: 31%;
  }
  
.middle {
    width: 38%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }