
<h2>First Name, LastName</h2>


<form>
    <div>
      <label>Photo</label>
      <img [src]='IUrl'>
      <input type="file" #Image accept='image/*,video/*' (change)="handleFileInput($event.target.files)"/>
    </div>
      <br>
    <div>
      <label>Display Name</label>
      <input type="text" placeholder="Title"/>
    </div>
    <br>
    <div>
        <label>User Name</label>
        <input type="text" placeholder="Title"/>
      </div>
      <br>
    <div>
      <label>Email</label>
      <input type="email" placeholder="Email@Email.com"/>
    </div>  
    <button>submit</button>
  </form>